Source: deepin-artwork-themes
Section: deepin
Priority: optional
Maintainer: leaeasy <leaeasy@gmail.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8), python

Package: deepin-artwork-themes
Architecture: all
Depends: deepin-icon-theme
Description: Deepin artwork themes
 This package is Deepin artwork themes.
